In [2]:
import pandas as pd

In [ ]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти):
# https://fortrader.org/quotes
# https://www.finanz.ru/valyuty/v-realnom-vremeni

In [54]:

page_url = 'https://www.finanz.ru/valyuty/gbp-rub'
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

df[:1]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  08.04.21   1055123   1057419   1063335  1052377
 1  07.04.21   1057724   1066985   1076463  1056679
 2  06.04.21   1067144   1062262   1071414  1055894
 3  05.04.21   1062046   1055494   1062983  1054711
 4  04.04.21   1057036   1056339   1061647  1056339
 5  03.04.21   1056339   1055494   1056339  1055494
 6  02.04.21   1055494   1047827   1058326  1047827
 7  01.04.21   1047827   1042663   1057042  1040783
 8  31.03.21   1042581   1042502   1044791  1035678
 9  30.03.21   1042673   1042520   1046334  1038121]

In [55]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,аааа,3Т 508,"0,2%",Nasdaq,13Т 829,"1,0%",ааИбаКаОаЙаН,58Т 018,"0,0%",USD/RUB,769495,"0,2%"
1,а аЂаЁ,1Т 440,"0,8%",S&P500,4Т 097,"0,4%",ааЕббб,632,"-0,3%",EUR/RUB,915980,"0,1%"
2,Dow,33Т 504,"0,2%",FTSE100,6Т 942,"0,8%",ааОаЛаОбаО,1Т 752,"-0,3%",EUR/USD,11905,"-0,1%"

In [7]:
# Задание 1
# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
#     Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

rat_mov = rating['movieId'][rating.rating == 5.0].value_counts()       #сортируем таблицу по кол-ву оценок 5
id_best = rat_mov.head(1).index[0]                                     # выбираем первый элемент из полученной таблицы (номер фильма)

search = movies[movies.movieId == id_best]                        #ищем в таблице movies название фильма по полученному id
best_movies = search['title'].values[0]                
print(best_movies)

Shawshank Redemption, The (1994)

In [27]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
# movies.head()
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [85]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики 
# (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
# Не учитывайте в расчетах отрицательные значения quantity.

In [55]:
power = pd.read_csv('power.csv')
# transac = pd.read_csv('transactions.csv')
# power.head()
filter_coutries = power[ (power['country'] == 'Latvia') | (power['country'] == 'Estonia') | (power['country'] == 'Lithuania')]
filter_categories = filter_coutries[ (filter_coutries['category'] == 4) | (filter_coutries['category'] == 12)  | (filter_coutries['category'] == 21)]
filter_year = filter_categories[ (filter_categories['year'] > 2004) & (filter_categories['year'] < 2011) & (filter_categories['quantity'] > 0)]
filter_year
# filter_coutries.head()
filter_categories.head()
# power['country'].unique()
# # # power[['country','year']].head()

       country  year  quantity  category
10617  Estonia  2008       1.0         4
10618  Estonia  2007       0.0         4
10619  Estonia  2006       0.0         4
10620  Estonia  2005       1.0         4
10621  Estonia  2004       1.0         4