In [ ]:
# Задание 1. Загрузка данных
# Изучить представленный набор данных на основе описания его столбцов,
# загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?,
# Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [3]:
import pandas as pd

In [4]:
# читаем файл, меняем пропуски на "0"
Horsebase = pd.read_csv('horse_data.csv', na_values = '?', header = None)    
Horsebase.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [49]:
Horsebase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       299 non-null    float64
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       240 non-null    float64
 4   4       276 non-null    float64
 5   5       242 non-null    float64
 6   6       244 non-null    float64
 7   7       231 non-null    float64
 8   8       253 non-null    float64
 9   9       268 non-null    float64
 10  10      245 non-null    float64
 11  11      256 non-null    float64
 12  12      244 non-null    float64
 13  13      196 non-null    float64
 14  14      194 non-null    float64
 15  15      53 non-null     float64
 16  16      198 non-null    float64
 17  17      182 non-null    float64
 18  18      271 non-null    float64
 19  19      267 non-null    float64
 20  20      135 non-null    float64
 21  21      102 non-null    float64
 22  22      299 non-null    float64
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

In [5]:
# Присваеваем имена столбцам 

Horsebase_columns = Horsebase[{0,1,3,4,5,6,10,22}]
Horsebase_columns = Horsebase_columns.rename(columns = {0:'surgery',1:'Age',3:'rectal temperature',4:'pulse',5:'respiratory rate',6:'temperature of extremities',10:'pain',22:'outcome'})

Horsebase_columns.head()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [ ]:
# Задание 2. Первичное изучение данных¶
# Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [50]:
Horsebase_columns['surgery'].describe()

count    299.000000
mean       1.397993
std        0.490305
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: surgery, dtype: float64

Один пропуск, Категорийная величина

In [51]:
print("Мода: ", Horsebase_columns['surgery'].mode(dropna=False)[0])

Мода:  1.0

In [8]:
Horsebase_columns['Age'].describe()

count    300.000000
mean       1.640000
std        2.173972
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        9.000000
Name: Age, dtype: float64

In [18]:
# уникальные значения 
Horsebase_columns['Age'].unique()
# значение 9 ошибочно, некоректно заполнна строка

Мода:  1

array([1, 9], dtype=int64)

In [27]:
# давайте поменяем 9 на 2, так как возможно ошиблись при вводе 
Horsebase_columns.Age = Horsebase_columns.Age.replace(9,2)

print("Мода: ", Horsebase_columns['Age'].mode(dropna=False)[0])
print(Horsebase_columns.Age.value_counts())

Мода:  1
1    276
2     24
Name: Age, dtype: int64

Пропусков нет,  Категорийная величина

In [12]:
Horsebase_columns['rectal temperature'].describe()

count    239.000000
mean      38.168619
std        0.733744
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [11]:
# уникальные значения
len(Horsebase_columns['rectal temperature'].unique())

41

60 пропусков,  Непрерывная величина

In [44]:
Horsebase_columns['pulse'].describe()

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

24 пропуска , Непрерывная величина

In [45]:
Horsebase_columns['respiratory rate'].describe()

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

58 пропусков, Непрерывная величина

In [46]:
Horsebase_columns['temperature of extremities'].describe()

count    244.000000
mean       2.348361
std        1.045054
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

56 пропусков, Величина категорийная

In [47]:
Horsebase_columns['pain'].describe()

count    245.00000
mean       2.95102
std        1.30794
min        1.00000
25%        2.00000
50%        3.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64

55 Пропусков, категорийная величина

In [48]:
Horsebase_columns['outcome'].describe()

count    299.000000
mean       1.551839
std        0.737187
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64

1 пропуск, Категорийная величина

In [ ]:
# Выбросы

In [33]:
Horsebase_columnscopy = Horsebase_columns.copy()
Horsebase_columnscopy = Horsebase_columnscopy.dropna(subset = {'pulse'})

In [43]:
q1 = Horsebase_columnscopy['pulse'].quantile(0.25)
q3 = Horsebase_columnscopy['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = Horsebase_columnscopy[Horsebase_columnscopy['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
pd.concat([Horsebase_columnscopy, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

Выбросы пульса высокие, они совпадают с высокой частотой дыхания, нормальня частота дыхания от 8 до 10, справочник говорит, что пульс у лошади и дыхание при беге или высокой температуре могут быть повышенные и достигать данных значений, значит выбросы нормальные.

In [ ]:
Horsebase_columnscopy = Horsebase_columns.copy()
Horsebase_columnscopy = Horsebase_columnscopy.dropna(subset = {'respiratory rate'})

In [44]:
q1 = Horsebase_columnscopy['respiratory rate'].quantile(0.25)
q3 = Horsebase_columnscopy['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = Horsebase_columnscopy[Horsebase_columnscopy['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory rate')
pd.concat([Horsebase_columnscopy, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
38,2.0,1,38.6,52.0,NaN,1.0,3.0,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
50,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
61,2.0,1,38.5,60.0,NaN,2.0,1.0,1.0
66,2.0,1,37.9,72.0,NaN,1.0,3.0,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
137,1.0,1,38.0,48.0,NaN,1.0,1.0,1.0
138,2.0,1,38.0,56.0,NaN,1.0,1.0,1.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
146,1.0,1,38.2,48.0,NaN,1.0,3.0,1.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
164,1.0,1,38.7,76.0,NaN,1.0,3.0,1.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
201,1.0,1,38.5,86.0,NaN,1.0,4.0,2.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
249,2.0,1,38.2,48.0,NaN,2.0,3.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
256,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

Выбросы частоты дыхания присутствуют, одно значение 96 выбивается из всех показаний, но так как оно одно в группе высоких значений, которые могут быть в природе у лошадей, то мы его оставляем.

In [ ]:
Horsebase_columnscopy = Horsebase_columns.copy()
Horsebase_columnscopy = Horsebase_columnscopy.dropna(subset = {'rectal temperature'})

In [45]:
q1 = Horsebase_columnscopy['rectal temperature'].quantile(0.25)
q3 = Horsebase_columnscopy['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = Horsebase_columnscopy[Horsebase_columnscopy['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal temperature')
pd.concat([Horsebase_columnscopy, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

Выбросы температуры присутствуют, но они в пределах нормы.

In [ ]:
# Задание 3. Работа с пропусками
# Рассчитать количество пропусков для всех выбранных столбцов. 
# Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик
# и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

Пропуски

In [47]:
Horsebase_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [6]:
Horsebase_columns.dropna(thresh=5).info() #будем считать, что нужно, чтобы было заполнено минимум 5 столбцов

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     289 non-null    float64
 1   Age                         290 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     289 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 20.4 KB

Surgery

In [7]:

Horsebase_columns[Horsebase_columns['surgery'].isna()]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

Удаляем запись, так как она одна , значение данная запись не имеет.

In [9]:
Horsebase_columns = Horsebase_columns.dropna(subset = {'surgery'})

 rectal temperature - Пропущенных значений много, заменяем средним значением

In [13]:
Horsebase_columns['rectal temperature'].fillna(Horsebase_columns['rectal temperature'].mean(), inplace=True)

Pulse

In [14]:
Horsebase_columns[Horsebase_columns['pulse'].isna()]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,38.168619,NaN,NaN,2.0,2.0,1.0
28,1.0,1,38.168619,NaN,NaN,NaN,NaN,2.0
52,2.0,1,38.168619,NaN,NaN,1.0,1.0,1.0
56,1.0,1,38.168619,NaN,NaN,NaN,NaN,1.0
58,1.0,1,38.168619,NaN,20.0,4.0,5.0,2.0
74,1.0,9,38.168619,NaN,NaN,NaN,NaN,2.0
78,1.0,1,38.168619,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.000000,NaN,24.0,3.0,5.0,2.0
93,2.0,1,38.168619,NaN,NaN,3.0,5.0,2.0
115,2.0,1,38.168619,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.500000,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.700000,NaN,NaN,3.0,5.0,1.0
136,1.0,1,38.168619,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.300000,NaN,NaN,4.0,4.0,2.0
159,2.0,1,38.168619,NaN,12.0,1.0,2.0,1.0
160,1.0,1,38.168619,NaN,NaN,NaN,4.0,1.0
174,2.0,1,38.168619,NaN,NaN,3.0,4.0,2.0
175,1.0,1,38.168619,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.000000,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.200000,NaN,23.0,3.0,4.0,1.0
207,1.0,1,38.168619,NaN,NaN,NaN,NaN,2.0
216,2.0,1,38.168619,NaN,NaN,NaN,NaN,1.0
227,1.0,9,38.168619,NaN,NaN,NaN,NaN,1.0
288,1.0,1,38.168619,NaN,NaN,NaN,NaN,1.0

Предлагаю пульс заменить средней величиной

In [16]:
Horsebase_columns['pulse'].fillna(Horsebase_columns['pulse'].mean(), inplace=True)
Horsebase_columns['pulse'].fillna(Horsebase_columns['pulse'].mean()).isna().sum()

0

Respiratote rate

In [17]:
Horsebase_columns[Horsebase_columns['respiratory rate'].isna()]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,38.168619,72.0,NaN,2.0,2.0,1.0
7,1.0,1,38.168619,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.300000,90.0,NaN,1.0,5.0,1.0
28,1.0,1,38.168619,72.0,NaN,NaN,NaN,2.0
29,2.0,1,37.700000,48.0,NaN,2.0,1.0,1.0
32,1.0,1,37.200000,60.0,NaN,2.0,3.0,1.0
37,1.0,1,37.800000,72.0,NaN,NaN,5.0,1.0
38,2.0,1,38.600000,52.0,NaN,1.0,3.0,1.0
40,1.0,1,38.168619,88.0,NaN,3.0,5.0,2.0
43,1.0,1,38.168619,120.0,NaN,3.0,4.0,3.0
45,2.0,1,38.168619,120.0,NaN,4.0,5.0,2.0
50,2.0,1,38.600000,46.0,NaN,1.0,1.0,1.0
52,2.0,1,38.168619,72.0,NaN,1.0,1.0,1.0
56,1.0,1,38.168619,72.0,NaN,NaN,NaN,1.0
59,2.0,1,38.168619,96.0,NaN,3.0,5.0,2.0
61,2.0,1,38.500000,60.0,NaN,2.0,1.0,1.0
66,2.0,1,37.900000,72.0,NaN,1.0,3.0,1.0
72,1.0,1,37.700000,56.0,NaN,NaN,NaN,2.0
74,1.0,9,38.168619,72.0,NaN,NaN,NaN,2.0
75,1.0,9,39.700000,100.0,NaN,3.0,2.0,3.0
78,1.0,1,38.168619,72.0,NaN,3.0,5.0,2.0
81,1.0,1,37.300000,40.0,NaN,NaN,2.0,1.0
93,2.0,1,38.168619,72.0,NaN,3.0,5.0,2.0
112,1.0,1,38.168619,40.0,NaN,2.0,1.0,1.0
117,2.0,1,39.500000,72.0,NaN,3.0,3.0,3.0
126,1.0,1,38.700000,72.0,NaN,3.0,5.0,1.0
129,1.0,1,38.400000,49.0,NaN,NaN,NaN,1.0
134,1.0,1,38.168619,100.0,NaN,3.0,5.0,2.0
136,1.0,1,38.168619,72.0,NaN,3.0,5.0,2.0
137,1.0,1,38.000000,48.0,NaN,1.0,1.0,1.0
138,2.0,1,38.000000,56.0,NaN,1.0,1.0,1.0
142,1.0,1,38.168619,120.0,NaN,4.0,5.0,2.0
146,1.0,1,38.200000,48.0,NaN,1.0,3.0,1.0
148,1.0,1,38.300000,132.0,NaN,NaN,2.0,1.0
151,1.0,1,39.300000,72.0,NaN,4.0,4.0,2.0
152,1.0,1,38.168619,100.0,NaN,3.0,NaN,1.0
160,1.0,1,38.168619,72.0,NaN,NaN,4.0,1.0
164,1.0,1,38.700000,76.0,NaN,1.0,3.0,1.0
173,1.0,1,38.168619,104.0,NaN,3.0,2.0,2.0
174,2.0,1,38.168619,72.0,NaN,3.0,4.0,2.0
175,1.0,1,38.168619,72.0,NaN,NaN,NaN,1.0
179,2.0,1,38.500000,100.0,NaN,3.0,4.0,3.0
188,1.0,1,38.500000,60.0,NaN,1.0,NaN,1.0
201,1.0,1,38.500000,86.0,NaN,1.0,4.0,2.0
205,2.0,1,38.500000,100.0,NaN,3.0,4.0,3.0
207,1.0,1,38.168619,72.0,NaN,NaN,NaN,2.0
216,2.0,1,38.168619,72.0,NaN,NaN,NaN,1.0
227,1.0,9,38.168619,72.0,NaN,NaN,NaN,1.0
238,2.0,1,36.100000,88.0,NaN,3.0,3.0,3.0
245,2.0,1,38.168619,96.0,NaN,3.0,5.0,2.0
249,2.0,1,38.200000,48.0,NaN,2.0,3.0,1.0
254,1.0,1,38.168619,80.0,NaN,3.0,4.0,1.0
256,1.0,1,37.500000,72.0,NaN,2.0,2.0,3.0
271,1.0,1,37.700000,80.0,NaN,3.0,5.0,1.0
274,1.0,1,38.168619,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.000000,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.500000,54.0,NaN,1.0,3.0,1.0
288,1.0,1,38.168619,72.0,NaN,NaN,NaN,1.0

Удалять не будем, заменим медианой, медиана и среднее значение близки.

In [18]:
Horsebase_columns['respiratory rate'].fillna(Horsebase_columns['respiratory rate'].median(), inplace=True)
Horsebase_columns['respiratory rate'].fillna(Horsebase_columns['respiratory rate'].mean()).isna().sum()

0

 temperature of extremities

In [19]:
Horsebase_columns[Horsebase_columns['temperature of extremities'].isna()]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.200000,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.300000,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.500000,48.0,24.0,NaN,NaN,1.0
23,1.0,9,38.300000,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.800000,60.0,42.0,NaN,NaN,1.0
28,1.0,1,38.168619,72.0,25.0,NaN,NaN,2.0
36,2.0,1,38.300000,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.800000,72.0,25.0,NaN,5.0,1.0
39,1.0,9,39.200000,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.000000,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.600000,40.0,20.0,NaN,NaN,1.0
56,1.0,1,38.168619,72.0,25.0,NaN,NaN,1.0
72,1.0,1,37.700000,56.0,25.0,NaN,NaN,2.0
74,1.0,9,38.168619,72.0,25.0,NaN,NaN,2.0
81,1.0,1,37.300000,40.0,25.0,NaN,2.0,1.0
87,2.0,1,38.168619,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.000000,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.300000,48.0,20.0,NaN,3.0,1.0
96,2.0,1,38.168619,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.300000,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.800000,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.300000,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.400000,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.400000,49.0,25.0,NaN,NaN,1.0
130,1.0,1,37.800000,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.000000,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.300000,132.0,25.0,NaN,2.0,1.0
149,2.0,1,38.700000,48.0,24.0,NaN,1.0,1.0
160,1.0,1,38.168619,72.0,25.0,NaN,4.0,1.0
161,1.0,1,38.300000,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.400000,120.0,48.0,NaN,NaN,3.0
169,1.0,1,38.168619,65.0,24.0,NaN,5.0,3.0
175,1.0,1,38.168619,72.0,25.0,NaN,NaN,1.0
177,1.0,1,38.168619,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.800000,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.100000,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.500000,48.0,40.0,NaN,NaN,3.0
207,1.0,1,38.168619,72.0,25.0,NaN,NaN,2.0
210,1.0,1,37.900000,68.0,20.0,NaN,2.0,2.0
216,2.0,1,38.168619,72.0,25.0,NaN,NaN,1.0
217,1.0,1,38.000000,76.0,18.0,NaN,NaN,1.0
227,1.0,9,38.168619,72.0,25.0,NaN,NaN,1.0
229,1.0,9,38.500000,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.500000,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.100000,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.000000,40.0,25.0,NaN,4.0,1.0
262,2.0,9,38.600000,88.0,28.0,NaN,NaN,1.0
263,1.0,1,37.100000,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.200000,42.0,20.0,NaN,NaN,1.0
274,1.0,1,38.168619,76.0,25.0,NaN,NaN,3.0
280,1.0,1,38.600000,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.200000,72.0,18.0,NaN,NaN,1.0
287,2.0,9,39.500000,84.0,30.0,NaN,NaN,1.0
288,1.0,1,38.168619,72.0,25.0,NaN,NaN,1.0
289,1.0,1,38.000000,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.200000,40.0,20.0,NaN,NaN,3.0

Пропусков много,данная величина имеет категориальный признак и считаю, что температура крнечностей этопобочный признак для диагноза болезни, предлагаю заменить медианой.

In [20]:
Horsebase_columns['temperature of extremities'].fillna(Horsebase_columns['temperature of extremities'].median(), inplace=True)
Horsebase_columns['temperature of extremities'].fillna(Horsebase_columns['temperature of extremities'].mean()).isna().sum()

0

pain - Испытывает лошадь боль и какую

In [21]:
Horsebase_columns[Horsebase_columns['pain'].isna()]

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.300000,104.0,35.0,3.0,NaN,2.0
7,1.0,1,38.168619,60.0,25.0,3.0,NaN,2.0
17,2.0,1,37.500000,48.0,24.0,3.0,NaN,1.0
19,2.0,1,39.400000,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.100000,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.800000,60.0,42.0,3.0,NaN,1.0
27,1.0,1,37.800000,48.0,12.0,3.0,NaN,1.0
28,1.0,1,38.168619,72.0,25.0,3.0,NaN,2.0
36,2.0,1,38.300000,112.0,16.0,3.0,NaN,3.0
39,1.0,9,39.200000,146.0,96.0,3.0,NaN,2.0
41,2.0,9,39.000000,150.0,72.0,3.0,NaN,1.0
53,2.0,1,38.600000,40.0,20.0,3.0,NaN,1.0
56,1.0,1,38.168619,72.0,25.0,3.0,NaN,1.0
68,2.0,1,38.168619,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.700000,56.0,25.0,3.0,NaN,2.0
74,1.0,9,38.168619,72.0,25.0,3.0,NaN,2.0
87,2.0,1,38.168619,40.0,16.0,3.0,NaN,3.0
94,2.0,1,37.500000,48.0,30.0,4.0,NaN,1.0
96,2.0,1,38.168619,84.0,36.0,3.0,NaN,1.0
106,1.0,1,38.300000,52.0,96.0,3.0,NaN,1.0
113,1.0,1,36.800000,60.0,28.0,3.0,NaN,2.0
129,1.0,1,38.400000,49.0,25.0,3.0,NaN,1.0
130,1.0,1,37.800000,30.0,12.0,3.0,NaN,2.0
141,2.0,1,36.000000,42.0,30.0,3.0,NaN,2.0
152,1.0,1,38.168619,100.0,25.0,3.0,NaN,1.0
157,1.0,1,37.800000,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.300000,42.0,24.0,3.0,NaN,2.0
165,1.0,1,39.400000,120.0,48.0,3.0,NaN,3.0
170,2.0,1,37.500000,44.0,20.0,1.0,NaN,1.0
175,1.0,1,38.168619,72.0,25.0,3.0,NaN,1.0
185,1.0,1,38.500000,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.300000,64.0,90.0,2.0,NaN,1.0
188,1.0,1,38.500000,60.0,25.0,1.0,NaN,1.0
195,2.0,1,38.000000,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.500000,48.0,40.0,3.0,NaN,3.0
207,1.0,1,38.168619,72.0,25.0,3.0,NaN,2.0
208,1.0,1,37.800000,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.600000,45.0,12.0,3.0,NaN,1.0
216,2.0,1,38.168619,72.0,25.0,3.0,NaN,1.0
217,1.0,1,38.000000,76.0,18.0,3.0,NaN,1.0
227,1.0,9,38.168619,72.0,25.0,3.0,NaN,1.0
229,1.0,9,38.500000,120.0,70.0,3.0,NaN,1.0
232,1.0,1,38.500000,30.0,18.0,3.0,NaN,1.0
234,2.0,1,37.500000,48.0,30.0,4.0,NaN,1.0
243,1.0,1,38.400000,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.700000,96.0,28.0,3.0,NaN,2.0
262,2.0,9,38.600000,88.0,28.0,3.0,NaN,1.0
268,1.0,1,38.200000,42.0,20.0,3.0,NaN,1.0
269,1.0,1,39.300000,64.0,90.0,2.0,NaN,1.0
274,1.0,1,38.168619,76.0,25.0,3.0,NaN,3.0
283,1.0,1,38.200000,72.0,18.0,3.0,NaN,1.0
287,2.0,9,39.500000,84.0,30.0,3.0,NaN,1.0
288,1.0,1,38.168619,72.0,25.0,3.0,NaN,1.0
293,1.0,1,38.168619,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.200000,40.0,20.0,3.0,NaN,3.0

Пропущенных строк много, данный признак побочный, будем считать, что лошадь имеет среднюю боль, так как виличина категориальная, заменим ее медианной.

In [22]:
Horsebase_columns['pain'].fillna(Horsebase_columns['pain'].median(), inplace=True)
Horsebase_columns['pain'].fillna(Horsebase_columns['pain'].mean()).isna().sum()

0

Outcome - результат, исход судьбы лошади

In [23]:
Horsebase_columns[Horsebase_columns['outcome'].isna()]

Empty DataFrame
Columns: [surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [ ]:
Строчка отстутсвует, ее удалили ранее, когда удалял строчку по признаку 'surgery'.

Формирую  датафрейм без пропусков:

In [25]:
Horsebase_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory rate            299 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

In [26]:
Horsebase_columns.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.397993,1.64214,38.168619,72.000000,29.401338,2.468227,2.956522,1.551839
std,0.490305,2.17730,0.655730,27.468469,16.000822,0.976997,1.182130,0.737187
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.900000,48.500000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.168619,68.000000,25.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,34.500000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000